@charset "UTF-8";

* { /* configuração global*/
    height: 100%;
    margin: 0;
}

body{
    background-color: rgba(21, 35, 38, 0.930);
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.15em;
}

header.menu{
    position: absolute;
    left: 350px;
    height: 50px;
    margin-right: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logoscaef{
    position: absolute;
    margin-right: 10px;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 25px 10px 20px 10px;
    border-bottom: 1px solid #FEFAE5;
    padding-left: 10px;
}

ul li{
    list-style-type: none;
}

ul li a{
    display: flex;
    align-items: center;
    color: #FEFAE5;
    padding-right: 10px;
    font-size: 1.15em;
    text-decoration: none;
}

aside{
    width: 270px;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #3E606F, #D1DBBD);
    padding: 20px;
}

section .barraperfil{
    height: 520px;
}

.headerperfil{
    height: 20px;
    margin-top: 13px;
}

.fotouser{/* Tamanho da logo do usuario */
        width: 150px;
        height: 140px;
        padding:0;
        margin: 50px 65px;
        background-color:rgb(26, 26, 80);
        border-radius: 50%;
}
section .dados{
    height: 0px;
    margin-top:35px;
    font-size:17px;
    margin-left:15px;
}

main{
    width: 75%;
    position: fixed;
    top: 110px;
    right: 0;
    bottom: 0;
}

#footertemplate img#sus{ /*tamanho da logo sus*/
    width: 135px;
    height: 60px;
    padding-left: 10px;
    border-left: var(--cor-fonte) solid 1.9px;
    }

 #footertemplate > p { /*configuração do ministerio da saúde*/
    font-size: 1.25em;
    width: 159px;
    margin-left: -10px;
    }

 #footertemplate{ /* Posição da logo e do Ministerio da Saúde */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    }

